In [22]:
import pandas as pd
import numpy as np
import requests
from pprint import pprint
import os
import json
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
df_org = pd.read_json('Data/News_Category_Dataset_v2.json',lines=True)
df_org['id'] = range(len(df_org)) 
df_org

,category,headline,authors,link,short_description,date,id
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26,0
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26,1
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26,2
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26,3
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26,4
...,...,...,...,...,...,...,...
200848,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28,200848
200849,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28,200849
200850,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...",,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28,200850
200851,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28,200851
200852,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28,200852

In [149]:
sample = df_org[['id','short_description','category']].sample(100)
sample =  sample.rename(columns={'short_description':'text'})
sample.to_pickle('Data/sample.pkl')

Protegiendo la clave del servicio cognitivo con una KeyVault

In [151]:
subscription_key = <enter_subcription_key_here>
endpoint = 'https://prueba-servicios-cognitivos.cognitiveservices.azure.com'

In [152]:
cognitive_service_key = 'https://prueba-servicios-cognitivos.cognitiveservices.azure.com/'
entities_url = endpoint + "/text/analytics/v3.0/entities/recognition/general"
headers = {"Ocp-Apim-Subscription-Key": subscription_key}

In [153]:
import math
ndocs = 5
nrows = len(sample)
nrequest = math.ceil(nrows/5)
jsons = []
for i in range(nrequest):
    start = i*ndocs
    end = start + ndocs
    sample_json = {'documents': json.loads(sample.iloc[start:end].to_json(orient='records'))}
    response = requests.post(entities_url, headers=headers, json=sample_json)
    entities = response.json()
    jsons.extend(entities['documents'])

entitiesAzure = pd.DataFrame(jsons)
entitiesAzure

        id                                           entities warnings
0    69668  [{'text': 'renewable energy', 'category': 'Ski...       []
1   171507  [{'text': 'Emma', 'category': 'Person', 'offse...       []
2   126674  [{'text': 'A-listers', 'category': 'PersonType...       []
3   139424  [{'text': 'vinegar soda', 'category': 'Product...       []
4   147751  [{'text': 'Chris Brown', 'category': 'Person',...       []
..     ...                                                ...      ...
85  103256  [{'text': 'Ankore', 'category': 'Person', 'off...       []
86    7244  [{'text': 'opioid crisis', 'category': 'Event'...       []
87   42845  [{'text': 'Trump', 'category': 'Person', 'offs...       []
88  193743  [{'text': 'Karen Robinovitz', 'category': 'Per...       []
89  169729  [{'text': 'Bill', 'category': 'Person', 'offse...       []

[90 rows x 3 columns]

In [154]:
entitiesAzure['id'] = pd.to_numeric(entitiesAzure['id'])
data = sample.merge(entitiesAzure, on='id')
data

,id,text,category,entities,warnings
0,69668,Plummeting costs for renewable energy have fin...,POLITICS,"[{'text': 'renewable energy', 'category': 'Ski...",[]
1,171507,Emma and Amanda won us over this past week.,STYLE & BEAUTY,"[{'text': 'Emma', 'category': 'Person', 'offse...",[]
2,126674,Though our favorite A-listers rocked floral dr...,STYLE & BEAUTY,"[{'text': 'A-listers', 'category': 'PersonType...",[]
3,139424,"I wanted to hate it, but this crazy vinegar so...",FOOD & DRINK,"[{'text': 'vinegar soda', 'category': 'Product...",[]
4,147751,Chris Brown dropped a new music video this wee...,ENTERTAINMENT,"[{'text': 'Chris Brown', 'category': 'Person',...",[]
...,...,...,...,...,...
85,103256,"Ankore roams the streets at night, looking for...",LATINO VOICES,"[{'text': 'Ankore', 'category': 'Person', 'off...",[]
86,7244,The family hopes releasing the cause of death ...,ENTERTAINMENT,"[{'text': 'opioid crisis', 'category': 'Event'...",[]
87,42845,"President-elect Trump once called him ""the wor...",POLITICS,"[{'text': 'Trump', 'category': 'Person', 'offs...",[]
88,193743,Karen Robinovitz: The co-founder of Digital Br...,STYLE & BEAUTY,"[{'text': 'Karen Robinovitz', 'category': 'Per...",[]
89,169729,Bill and Val Deutsch yesterday completed the f...,PARENTING,"[{'text': 'Bill', 'category': 'Person', 'offse...",[]

In [157]:
data_new = data.explode('entities').dropna(axis=0,how='any')
data_new = data_new.rename(columns={'text':'text_long',
                                    'category':'category_news'})
p1 = data_new.reset_index(drop=True)
p2 = pd.json_normalize(data_new['entities']).reset_index(drop=True)
final = pd.concat([p1,p2], axis = 1)
entitiesAzure.to_pickle('Data/enitites.pkl')
final

,id,text_long,category_news,entities,warnings,text,category,offset,length,confidenceScore,subcategory
0,69668,Plummeting costs for renewable energy have fin...,POLITICS,"{'text': 'renewable energy', 'category': 'Skil...",[],renewable energy,Skill,21,16,0.80,NaN
1,171507,Emma and Amanda won us over this past week.,STYLE & BEAUTY,"{'text': 'Emma', 'category': 'Person', 'offset...",[],Emma,Person,0,4,0.80,NaN
2,171507,Emma and Amanda won us over this past week.,STYLE & BEAUTY,"{'text': 'Amanda', 'category': 'Person', 'offs...",[],Amanda,Person,9,6,0.88,NaN
3,171507,Emma and Amanda won us over this past week.,STYLE & BEAUTY,"{'text': 'this past week', 'category': 'DateTi...",[],this past week,DateTime,28,14,0.80,DateRange
4,126674,Though our favorite A-listers rocked floral dr...,STYLE & BEAUTY,"{'text': 'A-listers', 'category': 'PersonType'...",[],A-listers,PersonType,20,9,0.35,NaN
...,...,...,...,...,...,...,...,...,...,...,...
205,169729,Bill and Val Deutsch yesterday completed the f...,PARENTING,"{'text': 'yesterday', 'category': 'DateTime', ...",[],yesterday,DateTime,21,9,0.80,Date
206,169729,Bill and Val Deutsch yesterday completed the f...,PARENTING,"{'text': 'first', 'category': 'Quantity', 'sub...",[],first,Quantity,45,5,0.80,Ordinal
207,169729,Bill and Val Deutsch yesterday completed the f...,PARENTING,"{'text': 'two', 'category': 'Quantity', 'subca...",[],two,Quantity,91,3,0.80,Number
208,169729,Bill and Val Deutsch yesterday completed the f...,PARENTING,"{'text': 'orphans', 'category': 'PersonType', ...",[],orphans,PersonType,95,7,0.65,NaN
209,169729,Bill and Val Deutsch yesterday completed the f...,PARENTING,"{'text': 'Russia', 'category': 'Location', 'su...",[],Russia,Location,108,6,0.89,GPE

In [172]:
final[(final['category_news']=='POLITICS') & (final['category']=='Person')]['text']

23                Barack Obama
58                James Mattis
59                  John Kelly
82      Nathan Bedford Forrest
97     Neeeews. 1. Puerto Rico
100               Donald Trump
104                  PT Barnum
105           Seuss masterwork
111                      Trump
149             Matthew Jansen
184                     Kasich
195                      Trump
Name: text, dtype: object

In [167]:
final[(final['category_news']=='POLITCS') & (final['category']=='Organization')]['text']

Series([], Name: text, dtype: object)

In [163]:
final.category.value_counts()

Person          44
PersonType      38
Skill           29
DateTime        26
Quantity        24
Location        18
Organization    14
Product         12
Event            5
Name: category, dtype: int64